@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue BG</h1>
    <p> ce site est incroyable</p>
    <img src="https://media.istockphoto.com/id/480585653/photo/children-dressed-as-nerds-at-track-wearing-medals.jpg?b=1&s=170667a&w=0&k=20&c=wYQGXmRazABbNdpx4evK0W5CBwsVDyjm0vhdJ-hgnsI="
        class="imgAccueil">
</div>
