@model Sport

@{
    ViewData["Title"] = "Ajouter un sport";
    Sport sport = (Sport)ViewData["Sport"]!;
}

<h2>Ajouter un sport</h2>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Indiquez le sport ci-dessous</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Ajouter" class="btn btn-info" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<div>

    <a asp-action="Index">Retour</a>
</div>