@model Discipline

@{
    ViewData["Title"] = "Ajouter une discipline";
    int sportId = (int)ViewData["idSport"]!;
}

<h2>Ajouter une discipline</h2>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateDiscipline">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Nom de la discipline</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="SportId" value="2" />
            <div class="form-group">
                <input type="submit" value="Ajouter" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<div>
    <a asp-action="Disciplines" asp-route-id="@sportId">Retour</a>
</div>