@model IEnumerable<Sport>

@{
    ViewData["Title"] = "Sports";
}

<h2>Listes des sports</h2>

<div>
    <a asp-action="Create" class="add">Ajouter un sport</a>
</div>


<table class="table">

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Disciplines" asp-route-id="@item.Id" class="sports">
                        @Html.DisplayFor(modelItem => item.Name)
                    </a>
                </td>
            </tr>

            //voir pour les images appeler avec images/machin.jpg + mettre dans la bdd + dans le dossier images de wwroot

        }
    </tbody>
</table>
